body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
    
    transition: all 0.3s ease;

    #sidebar {
        /* base color variable used by fade overlays */
        --sidebar-bg: red;
        width: 75px;
        height: 100%;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: background-color 0.3s ease;

        #sidebar-header {
            width: 75px;
            height: 75px;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .sidebar-logo {
                fill: rgb(49, 49, 49);
                width: 30px;
                height: 30px;
                transition: fill 0.3s ease;
            }
        }

        .divider {
            width: calc(100% - 20px);
            margin: 0 10px;
            height: 2px;
            border-radius: 1px;
            background-color:rgb(190, 190, 190);
        }

        #sidebar-content {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;

            #sidebar-list {
                padding: 0;
                width: 100%;
                margin-bottom: 0;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                gap: 10px;
                position: relative;

                &.show-top-fade {
                    mask-image: linear-gradient(0deg, #000 calc(100% - 30px), transparent);
                }

                &.show-bottom-fade {
                    mask-image: linear-gradient(180deg, #000 calc(100% - 30px), transparent)
                }

                &.show-both-fades {
                    mask-image: linear-gradient(180deg, transparent 0%, rgb(0, 0, 0) calc(30px), rgb(0, 0, 0) calc(100% - 30px), transparent 100%);
                }
            }

            .sidebar-item, .addSidebarItem {
                width: 50px;
                min-height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 5px;

                transition: background-color 0.3s ease;

                .icon {
                    color: rgb(136, 136, 136);
                    width: 30px;
                    height: 30px;
                    transition: color 0.3s ease;
                }

                &:hover {
                    background-color: rgb(225, 225, 225);
                }

                &.selected {
                    background-color: rgb(225, 225, 225);

                    .sidebar-item-icon {
                        color: rgb(36, 36, 36);
                    }
                }
            }

            .addSidebarItem {
                margin: 10px 0;
                min-height: 30px;
                background-color: rgb(201, 201, 201);

                &:hover {
                    background-color: rgb(181, 181, 181);
                }
                
                .icon {
                    color: rgb(81, 81, 81);
                }
            }
        }

        #sidebar-footer {
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            
            #darkModeToggleContainer {
                width: 100%;
                height: 25px;
                padding: 15px 0;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgb(225, 225, 225);
                }
                
                #darkModeToggleMask {
                    width: 100%;
                    height: 100%;
                    clip-path: circle(12.5px at 50% 50%);
                }

                #darkModeToggle {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    transition: left 0.3s ease;
        
                    left: 24.5px; 
        
                    .darkModeToggle-icon {
                        color: rgb(136, 136, 136);
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }

    #main {
        flex: 1;
        background-color:rgb(255, 255, 255);
    }

    /* dark mode */
    &.dark {
        background-color:rgb(45, 45, 45);

        #sidebar {
            --sidebar-bg: #121212;
            background-color: #121212;

            #sidebar-header {
                .sidebar-logo {
                    fill: rgb(255, 255, 255);
                }
            }

            #sidebar-content {
                .sidebar-item, .addSidebarItem {
                    &:hover {
                        background-color: rgb(29, 29, 29);
                    }

                    &.selected {
                        background-color: rgb(29, 29, 29);

                        .sidebar-item-icon {
                            color: rgb(255, 255, 255);
                        }
                    }
                }

                .addSidebarItem {
                    background-color: rgb(53, 53, 53);
    
                    &:hover {
                        background-color: rgb(83, 83, 83);
                    }
                    
                    .icon {
                        color: rgb(230, 230, 230);
                    }
                }
            }

            #sidebar-footer {
                #darkModeToggleContainer {
                    
                    &:hover {
                        background-color: rgb(29, 29, 29);
                    }

                    #darkModeToggle {
                        left: -10.5px; 
                    }
                }
            }
        }
    }
}
